.html {
    font-size: 14px;
}

@media (maxn-width: 768px) {
    html {
        font-size: 12px;
    }

    .main-game {
      flex-basis:40%;
    }
}
.main.main-game {

}
.filter {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
}
.main-game-cards {
    width: 200px;
    height: 300px;
    background: #412996;
    color: white;
    margin: 2em auto;
}
.main-game-cards:hover {
    opacity: 0.8;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

.main-game-cards p {
    margin: 3% auto;
        
}

.main-game-cards-item {
    padding: 1em 1em;
}

.main-games-cards-img {
    width: 200px;
    height: 150px;
}

