<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off">

	<variable name="logDirectory" value="${basedir}/log/${shortdate}"/>
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<!-- Консольный логгер -->
		<target xsi:type="Console" name="console" />

		<!-- Логгер для файлов -->
		<target xsi:type="File" name="allFile" fileName="C://Users/Gregor/source/repos/MyPlayMarket/logs/app.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" deleteOldFileOnStartup="true" concurrentWrites="true"/>

	</targets>

	<rules>
		<!-- Логгирование в консоль -->
		<!-- <logger name="*" minlevel="Info" writeTo="console" /> -->		
		<!-- Логгирование в файл -->
		<logger name="*" minlevel="Info" writeTo="allFile" />
	</rules>
</nlog>