@using MyPlayMarket.Infrastructure.Entities;
@model List<Game>
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>

</div>
